@use "global" as *;

.campaign__inner {
    @include mq(md){
        padding: 0;
        position: relative; 
    }
}


.campaign__container {
    overflow: hidden;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-bottom: rem(5);
}

.campaign__list {
    display: flex;
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}

.campaign__swiper {
    overflow: visible;
    position: relative;
    padding-left: rem(15);
    margin-top: rem(7);
    display: flex;
    max-width: rem(1080);
    @include mq(md){
        margin-left: auto;
        padding-left: 0;
        margin-top: rem(3);
    }
}

.campaign__swiper .swiper-slide {
    width: rem(280);
    @include mq(md){
        width: rem(333);
    }
}

.campaign__btn {
    margin-top: rem(42);
    text-align: center;
    padding-right: rem(4);
    @include mq(md){
        margin-top:rem(78) ;
    }
}

