@use "global" as *;

.campaign {

}

.campaign__inner {
    padding-left: rem(15);
    @include mq(md){
        padding: 0;
        position: relative;
    }
}

.campaign__swiper {
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}

.campaign__list {
    overflow: hidden;
    position: relative;
    @include mq(md){
        max-width: rem(1260);
        margin-left: auto;
    }
}

.campaign__swiper {
    overflow: visible;
}

.campaign__swiper .swiper-slide {
    width: rem(280);
    height: rem(375);
    @include mq(md){
        width: rem(333);
        height: rem(470);
    }
}

.campaign__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md){
        margin-top:rem(80) ;
    }
}

.swiper-button-prev,.swiper-button-next{
    border: 1px solid $accent-color;
    border-radius: 50%;
    width: rem(80);
    height: rem(80);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    top: 50%;
    transform: translateY(-50%);
    content: "";
    margin: auto;
    position: absolute;
    width: rem(40);
}


.swiper-button-prev::after,.swiper-button-next::after {
  border-bottom: 1px solid $accent-color;
}

.swiper-button-prev:before,
.swiper-button-next:before {
    top: 45%;
    content: "";
    margin: auto;
    position: absolute;
    width: rem(12);
}

.swiper-button-prev:before {
    border-bottom: 1px solid $accent-color;
    transform: translateY(-50%) rotate(-45deg);
    left: rem(17);
}

.swiper-button-next:before {
    border-bottom: 1px solid $accent-color;
    transform: translateY(-50%) rotate(45deg);
    right: rem(17);
}

.swiper-controller {
    align-items: center;
    display: flex;
    gap: rem(80);
    position: absolute;
    width: rem(200);
    top: rem(10);
    right: rem(116);
}

