@use "global" as *;

.campaign {
    overflow: hidden;
}

.campaign__inner {
    @include mq(md){
        position: relative; 
    }
}

.campaign__inner.inner{
    padding-left: rem(12);
    @include mq(md){
        padding-left: rem(20);
    }
}

.campaign__list {
    margin-top: rem(31);
    margin-right: calc(50% - 50vw);
    @include mq(md){
        margin-top: rem(42);
    }
}

.campaign__swiper {
    padding-bottom: rem(5);
    padding-left: rem(3);
    @include mq(md){
        padding-left: rem(5);
    }
}

.campaign__item {
    width: rem(280);
    @include mq(md){
        width: rem(334);
    }
}

.campaign__btn {
    margin-top: rem(37);
    text-align: center;
    padding-bottom: rem(5);
    @include mq(md){
        margin-top:rem(78) ;
    }
}
