@use "global" as *;

.cards {
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        gap: rem(40);
    }
}

.cards a {
    transition: .3s;
}

.cards a:hover {
    transform: scale(1.02);
}

.cards__item {
    @include mq(md){
        width: calc((100% - 2.5rem * 2) / 3);
    }
}

.cards__item +.cards__item {
    margin-top: rem(39);
    @include mq(md){
        margin-top: 0;
    }
}