@use "global" as *;

.info-page__inner {
    position: relative;
}

.info-page__decoration {
    display: block;
    position: absolute;
    width: rem(120);
    top: rem(-35);
    left: max(calc(50% - 49vw),-3.4375rem);
    @include mq(md){
        width: rem(301);
        top: rem(-68);
    }
}

.info-page__list {
    display: flex;
    gap: rem(19);
    position: relative;
    z-index: 10;
    @include mq(md){
        gap: rem(90);
    }
}

.info-page__tag {
    text-align: center;
    background-color: #DDF0F1;
    flex: 1;
    padding: rem(10) 0;
    color: $accent-color;
    font-size: rem(14);
    transition: .3s;
    cursor: pointer;
    box-shadow: rem(2) rem(3) rem(3) rem(3) rgba(0, 0, 0, .05);
    position: relative;
    @include mq(md){
        max-width: rem(300);
        padding: rem(13) 0;
        font-size: rem(24);
        display: flex;
        gap: rem(8);
        align-items: center;
        justify-content: center;
    }
}

.info-page__tag.is-active {
    background-color: $accent-color;
    color: $base-color;
}

.info-page__tag img {
    display: none;
    @include mq(md){
        display: block;
        width: rem(62);
        height: rem(62);
    }
}

.info-page__tag img:last-of-type {
    @include mq(md){
        display: none;
    }
}

.info-page__tag.is-active img:first-of-type {
    @include mq(md){
        display: none;
    }
}

.info-page__tag.is-active img:last-of-type {
    @include mq(md){
        display: block;
    }
}

.info-page__contents {
    margin-top: rem(16);
    padding: rem(24);
    border: 1px solid $accent-color;
    display: flex;
    flex-direction: column;
    gap: rem(8);
    line-height: 1.5;
    @include mq(md){
        margin-top: rem(24);
        flex-direction: row;
        gap: 4.8%;
        align-items: center;
    }
}


.info-page__wrapper {
    @include mq(md){
        width: 47.6%;
    }
}

.info-page__title {
    font-size: rem(24);
    font-weight: $bold;
    line-height: 1;
    border-bottom: 1px solid $accent-color;
    padding-bottom: rem(8);
}

.info-page__text {
    margin-top: rem(8);
}   

.info-page__img {
    width: 100%;
    aspect-ratio: 297 / 189 ;
    @include mq(md){
        aspect-ratio: 492 / 313;
        width: 47.6%;
    }
}

.info-page__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}