@use "global" as *;

.layout-voice {
    padding-top: rem(88);
    padding-bottom: rem(84);
    @include mq(md){
        padding-top: rem(13);
        padding-bottom: rem(70);
        overflow: hidden;
    }
}