@use "global" as *;

.page-nav {
    display: flex;
    justify-content: space-evenly;
    gap: rem(18);
    padding-left: rem(15);
    @include mq(md){
        justify-content: center;
        padding-left: rem(29);
    }
}

.page-nav__flex-sp {
    width: rem(166);
    @include mq(md){
        display: flex;
        gap: rem(120);
        width: 50%;
    }
}

.page-nav__flex {
    @include mq(md){
        
    }
}

.page-nav__item a {
    display: block;
    letter-spacing: 0.05em;
    line-height: 1;
    color: $base-color;
}

.page-nav__item {
    padding-top: rem(40);
}

.page-nav__title {
    font-weight: $bold;
}

.page-nav__title a span{
    position: relative;
    display: inline-block;
}

.page-nav__title a span::before {
    content: url(../../assets/images/common/page-nav01.png);
    position: absolute;
    display: block;  
    top: rem(-2);
    left: rem(-26);
}

.page-nav__link {
    padding-top: rem(24);
}




