@use "global" as *;

.page-price__inner {
    position: relative;
}

.page-price__table {
    width: 100%;
    line-height: 1;
    text-align: center;
    @include mq(md){
        max-width: rem(700);
        margin: auto;
    }
}

.page-price__table + .page-price__table {
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}