@use "global" as *;

.page-price__inner {
    position: relative;
}


.page-price__decoration {
    display: block;
    position: absolute;
    width: rem(120);
    top: rem(-35);
    left: max(calc(50% - 49vw),-3.4375rem);
    @include mq(md){
        width: rem(301);
        top: rem(-68);
    }
}

.page-price__table {
    width: 100%;
    line-height: 1;
    text-align: center;
    border-collapse: collapse;
    @include mq(md){
        max-width: rem(700);
        margin: auto;
    }
}

.page-price__table + .page-price__table {
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}