@use "global" as *;

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(21) rem(16);
    @include mq(md){
        justify-content: left;
    }
}

.tab__link {
    max-width: rem(162);
    width: 100%;
    padding-top: rem(10);
    padding-bottom: rem(10);
    text-align: center;
    background-color: $base-color;
    color: $accent-color;
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1;
    border: 1px solid $accent-color;
    transition: .3s;
    cursor: pointer;
}

.tab__link:hover {
    background-color: $accent-color;
    color: $base-color;
}

.tab__link.is-active {
    background-color: $accent-color;
    color: $base-color;
}
